<div class="alert alert-info" role="alert">
  <i style="width: auto; padding-right: 8px" class="fas fa-info-circle"></i> You
  can only edit or delete post that made by yourself. (Not applicable for blog
  owner)
</div>

<div id="main-content">
  <% if (articles.length == 0) { %>
  <div style="padding-top: 64px; opacity: 0.8" class="col-12 text-center">
    <i class="fa fa-ban fa-7x"></i>
    <h5 style="margin-top: 24px">You've no post.</h5>
  </div>
  <% } %>
  <div class="row">
    <% articles.forEach(element => { %>
    <div class="col-lg-3">
      <div style="margin-bottom: 16px" class="card col-lg-12">
        <div class="card-body">
          <img
            src="https://storage.googleapis.com/zydhan-web.appspot.com/<%= element.coverFilename %>.webp"
            alt="<%= element.title %> thumbnail"
            class="card-img-top"
            style="margin-bottom: 16px"
          />
          <h5 class="card-title"><%= element.title %></h5>
          <p class="card-text"><%= element.description %></p>
          <div style="margin: auto" class="row">
            <% if (element.author != currentUserID) { %>
            <a
              href="./edit-post/<%= element.slug %> "
              class="btn btn-primary col-12 disabled"
              aria-disabled="true"
              >Edit post</a
            >
            <div style="height: 8px" class="col-xxl-2"></div>
            <form
              action="/posts/<%= element.slug %>?_method=DELETE"
              method="POST"
              class="col-12"
              style="padding: 0"
            >
              <button
                class="btn btn-danger col-12"
                disabled
                aria-disabled="true"
              >
                Delete post
              </button>
            </form>
            <% } else { %>
            <a
              href="./edit-post/<%= element.slug %> "
              class="btn btn-primary col-12"
              >Edit post</a
            >
            <div style="height: 8px" class="col-xxl-2"></div>
            <form
              action="/posts/<%= element.slug %>?_method=DELETE"
              method="POST"
              class="col-12"
              style="padding: 0"
            >
              <button class="btn btn-danger col-12">Delete post</button>
            </form>
            <% } %>
            <div style="height: 8px" class="col-xxl-2"></div>
            <a href="/post/<%= element.slug %> " class="btn btn-success col-12"
              >Open post</a
            >
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
